<!DOCTYPE html>
<html>
<head>
    <title>Index</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="./utils/sockets/index.js"></script>
    
</head>
<body>
    <h1>Index</h1>
    <div class="container_chat">
        <form id="data_user">
            <input type="text" name="username" placeholder="Username">
            <input type="text" name="email" placeholder="Email">
          
            <input type="submit" value="Register">
        </form>

    </div>
    <div id="messages"></div>
    <input id="inputtext" type="text"  placeholder="Ingrese aqui su texto" />
    <button id="send">Enviar</button>
    <p id="error"></p>
    <p id="success"></p>
</body>
</html>

